@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Noto+Sans+HK:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+HK:wght@200..900&family=Noto+Serif+JP:wght@200..900&family=Noto+Serif+KR:wght@200..900&family=Noto+Serif+SC:wght@200..900&family=Noto+Serif+TC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Shanggu Serif VF */
@import url('https://fontsapi.zeoseven.com/165/main/result.css');

:root {
  --serif-font: 'Noto Serif', 'Times New Roman', SimSun, Georgia, Garamond, Times;
  --monospace-font: 'Fira Code', 'Source Code Pro', Consolas, Monaco;
  --zh-cn-serif-font:
    'Noto Serif SC', 'Noto Serif CJK SC', 'Source Han Serif SC', 'Source Han Serif CN', '思源宋体',
    var(--serif-font);
  --zh-tw-serif-font:
    'Noto Serif TC', 'Noto Serif CJK TC', 'Source Han Serif TC', 'Source Han Serif TW', '思源宋體',
    var(--serif-font);
}

body {
  background-color: #f9f2e0;
  color: #000;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body.dark-mode {
  background-color: #424242;
  color: #e0e0e0;
}

.en-us,
.vi,
.vi-vn {
  font-family: var(--serif-font), serif;
}

.zh-cn {
  font-family: var(--zh-cn-serif-font), serif;
}

.zh-hk {
  font-family:
    'Noto Serif HK', 'Noto Serif CJK HK', 'Source Han Serif HC', 'Source Han Serif HK',
    '思源宋體 香港', var(--serif-font), serif;
}

.zh-tw {
  font-family: var(--zh-tw-serif-font), serif;
}

.lzh {
  font-family:
    'Shanggu Serif VF', 'I.Ming', 'Noto Serif TC Light', 'Noto Serif CJK TC Light',
    'Source Han Serif TC Light', 'Source Han Serif TW Light', '思源宋體 Light', var(--serif-font),
    serif;
}

.ja,
.ja-jp {
  font-family:
    'Noto Serif JP', 'Noto Serif CJK JP', 'Source Han Serif', 'Source Han Serif JP',
    var(--serif-font), serif;
}

.ko,
.ko-kr {
  font-family:
    'Noto Serif KR', 'Noto Serif CJK KR', 'Source Han Serif K', 'Source Han Serif KR',
    var(--serif-font), serif;
}
